<%= form_for ([@category, @category.articles.build]) do |f| %>

  <p>
    <%= f.label "Description" %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.label "Condition" %><br>
    <%= f.text_field :conditon %>
  </p>

  <p>
    <%= f.label "Price" %><br>
    <%= f.text_field :price %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>