<% if current_user %>
	<a href="/users/<%=current_user.id%>"><%= current_user.username%></a>
	<%= link_to 'Logout', controller: 'sessions', action: "logout" %>
<% else %>
	<%= link_to 'Login', controller: 'sessions', action: "login" %>
	<%= link_to 'Register', controller: 'users', action: "new" %>
<% end %>


